/****** GLOBAL SETTINGS ******/

@font-face {
  font-family: 'DeathRattle BB';
  font-style: normal;
  font-weight: normal;
  src: local('DeathRattle BB'), url('font/deathrattlebb_reg.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html, body { /* Pour positionner le footer toujours en bas de page */
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*62.5% de 16px = 10 px*/
  /*scroll-behavior: smooth;*/
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  /* Pour positionner le footer toujours en bas de page */
  display: table;
  width: 100%;
}

footer {
  display: table-row;
  height: 88px;
}

h1, h2 {
  font-family: 'DeathRattle BB', cursive;
  font-weight: normal;
  font-size: 4rem;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  border: 1px solid #ffffff73;
  border-radius: 12px;
}

strong {
  font-weight: inherit;
}

/****** Generic Classes ******/

.animate {
  transition: all 0.4s;
}

.hide {
  display: none;
}

.repairFlux {
  display: block;
  clear: both;
}

.clearFix::after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.italic {
  font-style: italic;
}

/******* BUTTONS ******/
.button-link {
  transition: all 0.2s;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-style: italic;
}

.button-link::after {
  content: '\f30b';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: text-bottom;
  margin-left: 5px;
}

.button-link:hover {
  color: var(--primary-color-light);
}

.highlight-image-hover:hover {
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 255, 255, 0.7),
  0 2px 4px rgba(0, 255, 255, 0.7),
  0 4px 8px rgba(0, 255, 255, 0.7),
  0 8px 16px rgba(0, 255, 255, 0.7);
}

.underlined-link {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-color {
  color: var(--primary-color);
}
