/****** LAYOUT MAIN CONTENT ******/

#main-wrapper {
  margin: 110px 15px 20px 15px;
}

#content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

#scroll-to-top-button {
  position: fixed;
  color: #fffc;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  background-color: #c6c6c678;
  border-radius: 4px;
  line-height: 3.5rem;
  cursor: pointer;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;
}

#scroll-to-top-button.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

#scroll-to-top-button:hover {
  background-color: #86858578;
}

.date {
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
  color: #bfbfbf;
  font-family: serif;
}

.spinning-loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border: 4px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/*----------------NEWS PAGE---------------------*/

.news {
  text-align: left;
}

.title h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 2.1rem;
  font-weight: 300;
}

.news .date:after, .news .date:before {
  content: ' - ';
}

.news .content {
  margin: 10px 0;
}

.news hr {
  margin-block: 24px;
  width: 100%;
  color: #bfbfbf;
}

.news:last-of-type hr {
  display: none;
}

.news img:hover {
  filter: grayscale(0.3);
  opacity: 0.8;
  transition: all 0.2s
}

@media (min-width: 768px) {
  #news-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .news {
    width: calc(50% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 24px 40px 24px;
  }

  .news img {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }

  .news hr {
    display: none;
  }
}

@media (min-width: 1024px) {
  .news {
    width: calc(33.33% - 48px);
  }
}

/*----------------ARTICLE PAGE---------------------*/
#article {
  text-align: left;
}

#article .title {
  margin-block: 24px;
}

#article a:not(.button-link) {
  font-style: italic;
  text-decoration: underline;
  color: var(--primary-color);
}

#article .back-link {
  text-align: right;
  margin-top: 24px;
}

#article h1 {
  color: var(--primary-color);
  font-family: inherit;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
}

#article h2, #article h3, #article h4 {
  margin: 0;
  font-size: 2.5rem;
  font-family: inherit;
}

#article .date:after, #article .date:before {
  content: ' - ';
}

#article .iframe-video {
  border: 1px solid #ffffff73;
  border-radius: 12px;
  width: 100%;
}

@media (min-width: 768px) {
  #article {
    max-width: 1200px;
    margin: 0 auto;
  }

  #article-content-wrapper {
    display: flex;
  }

  #article-content-wrapper img {
    max-width: 400px;
    object-fit: contain;
  }

  #article-content-wrapper .content {
    padding: 0 32px;
  }

  #article-content-wrapper .content p {
    margin-top: 0;
  }
}

/*----------------BAND PAGE---------------------*/

#band {
  max-width: 1200px;
  margin: 0 auto;
}

#band article :not(h2) {
  text-align: justify;
}

#members-identification {
  max-width: 1200px;
}

#members {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.member strong {
  font-weight: normal;
}

.member span {
  font-style: italic;
  color: var(--primary-color);
}

#biography {
  margin-top: 30px;
}

#biography h2 span {
  font-size: 1.8rem;
}

#biography p {
  font-weight: normal;
}

.member::after {
  content: '';
  width: 0;
  display: block;
  left: 50%;
  position: relative;
  border-bottom: 2px solid var(--primary-color);
  transform: translateY(2px);
  border-radius: 2px;
}

#jambon-text.hover-face::after,
#arno-text.hover-face::after,
#lox-text.hover-face::after,
#mike-text.hover-face::after {
  animation: underline-border-bounce 1s linear;
  left: 0;
  width: 100%;
}

/*--------------TOUR PAGE-------------------*/

#tour-section {
  max-width: 980px;
  margin: 0 auto;
}

#tour-section h3 {
  color: var(--primary-color);
  margin-bottom: 30px;
}

#tour-section .show {
  text-align: left;
  border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 15px 0 20px;
}


#tour-section .show .show-info {
  width: calc(100% - 110px);
}

#tour-section .show .show-info div:not(:last-of-type) {
  margin-bottom: 10px;
}

#tour-section .show .show-info .venue .venue-name {
  font-size: 18px;
  color: var(--primary-color)
}

#tour-section .show .show-info .lineup {
  color: #c6c6c69e;
  font-style: italic;
  font-size: 14px;
}

#tour-section .show .show-link {
  width: 100px;
  text-align: center;
  align-self: center;
  padding: 10px;
  border: 1px solid;
  transition: all 0.4s;
}

#tour-section .show .show-link:hover {
  background-color: white;
  color: black;
}

#tour-section h4 {
  margin-bottom: 5px;
}

#tour-section .past-shows-list {
  display: flex;
  flex-direction: column;
}

#tour-section .past-show .show-date {
  text-transform: capitalize;
  width: 75px;
  font-size: 14px;
}

#tour-section .past-show .venue-name {
  color: var(--primary-color);
}

#tour-section .past-show .venue-city {
  font-style: italic;
}

@media (max-width: 767px) {
  #tour-section .past-show {
    text-align: start;
  }
}

/*--------------MUSIC PAGE-------------------*/

.album {
  margin-bottom: 35px;
}

.album h3 {
  font-size: 2rem;
  color: var(--primary-color);
}

.album iframe {
  max-width: 100%;
  transition: all 0.3s;
  border-radius: 12px;
}

.album .year {
  color: white;
  font-weight: normal;
  font-style: italic;
  font-size: 1.8rem;
}

/*--------------VIDEO PAGE-------------------*/

/* Astuce pour rendre les iframe youtube responsive */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* fin astuce */

#video > span {
  font-style: italic;
}

#video > span > a {
  font-style: normal;
  margin-left: 2px;
}

#video .wrapper {
  margin-bottom: 16px;
}

.video-container {
  border: 1px solid #ffffff73;
  border-radius: 12px;
}

.clip {
  margin-bottom: 24px;
  max-width: 900px;
}

.clip h3 {
  color: var(--primary-color);
}

.clip h3 span {
  color: white;
  font-style: italic;
  font-size: 1.8rem;
}

/*--------------CONTACT PAGE-------------------*/

#contact h3 {
  font-size: 2.2rem;
}

#contact article {
  margin-bottom: 40px;
}

#contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#contact ul li {
  width: 50%;
  margin: 10px 0;
}

#contact a {
  text-decoration: underline;
  color: var(--primary-color);
}

#contact .information {
  margin-bottom: 20px;
}

#contact ul li:hover {
  filter: grayscale(0);
}

/*---------------------RESPONSIVE---------------------*/

/****** Tablet breakpoint ******/

@media (min-width: 768px) {
  #main-wrapper {
    margin: 200px 20px 20px 20px;
  }

  /** BAND PAGE **/
  #classic-band img {
    width: 100%;
  }

  #members {
    flex-direction: row;
    justify-content: space-between;
  }

  /** TOUR PAGE **/
  #tour-section .show .show-info {
    display: flex;
    align-items: center;
  }

  #tour-section .show .show-date {
    width: 25%;
  }

  #tour-section .show .show-info .venue {
    margin-bottom: 0;
    width: 45%;
    padding: 0 10px;
  }

  /** MUSIC PAGE **/
  #disco {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .album {
    width: calc(50% - 30px);
    max-width: 400px;
  }

  /** CONTACT PAGE **/
  #contact .information-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  #contact h3 {
    width: 100%;
  }

  #contact ul {
    gap: 80px;
  }

  #contact ul li {
    width: inherit;
  }
}

/****** Desktop Breakpoint ******/

@media (min-width: 1024px) {
  #main-wrapper {
    margin: 0 7% 20px 7%;
  }

  /** BAND PAGE **/
  #members {
    justify-content: start;
  }

  .member {
    margin-right: 50px;
  }

  #members-identification {
    position: relative;
  }

  .member-face {
    background-color: transparent;
    position: absolute;
    z-index: 20;
  }

  #jambon {
    width: 11%;
    height: 20%;
    top: 10%;
    left: 17%;
  }

  #arno {
    width: 14%;
    height: 30%;
    top: 4%;
    left: 62%;
  }

  #lox {
    width: 8%;
    height: 15%;
    top: 16%;
    left: 42%;
  }

  #mike {
    width: 10%;
    height: 19%;
    top: 36%;
    left: 30%;
  }

  /** MUSIC PAGE **/
  .album {
    width: calc(33.33% - 30px);
  }

  html.scroll-off {
    overflow-y: hidden;
  }

  /** VIDEO PAGE **/
  #video .wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #video .wrapper .clip {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1500px) {
  .record-info img {
    max-width: 700px;
  }
}
